{
  "data": [{
    "userId": "550e8400-e29b-41d4-a716-446655440000",
    "type": "seller",
    "name": "Ramesh",
    "phone": "+919812343879",
    "address": "Bangalore"
  }],
  "success": true,
  "status": 200
}