.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  width: 100%;
  display: inline-block;
  height: 70px;
  background-color: #343a41;
  position: fixed;
  left: 0;
  bottom: 0;
}
footer .copyright {
  width: 50%;
  float: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
}
footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 0.7em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  footer .social {
    width: 100%;
  }
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
}
footer .social a:hover {
  background-color: #222;
}
.linked {
  background-color: #1e83ae;
  font-size: 1.2em;
  width: 20%;
}
.face {
  background-color: #3d5b94;
  font-size: 1.2em;
  width: 20%;
}
.tweet {
  background-color: #3dacdd;
  font-size: 1.2em;
  width: 20%;
}
.support {
  background-color: #6dcd9a;
  font-size: 0.8em;
  width: 40%;
}
